---
import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

import "../../styles/global.css";

export async function getStaticPaths() {
  const allServices = await getCollection("services");
  return allServices.map((service) => ({
    params: { slug: service.id },
  }));
}

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("services", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await render(entry);
---

<MainLayout title={entry.data.title}>
  <main class="mb-40 space-y-40 pt-24">
    <section class="bg-white">
      <div
        class="max-w-(--breakpoint-xl) mx-auto items-center gap-16 px-8 py-8 lg:grid lg:grid-cols-1 lg:px-16 lg:py-16"
      >
        <div class="font-light text-gray-500 sm:text-lg">
          <a
            href="/fjelltopp-astro/#services"
            class="hover:text-green my-4 inline-flex items-center font-medium text-black"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 16l-4-4m0 0l4-4m-4 4h18"
              >
              </path>
            </svg>
            <span class="ml-1 text-lg font-bold">Back</span>
          </a>
          <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900">
            {entry.data.title}
          </h2>
          <div
            class="content prose prose-l prose-ul:list-inside prose-ol:list-inside prose-blockquote:border-l-0 prose-img:my-5 max-w-none"
          >
            <Content />
          </div>
          <div class="mt-10 inline-flex w-full items-center justify-center">
            <a
              href="/fjelltopp-astro/#contact"
              class="rounded-2xl border bg-zinc-900 px-8 py-5 text-center text-xl font-normal leading-7 text-white hover:bg-white hover:text-black"
              >Get in touch</a
            >
          </div>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
