---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import HeroIlust from "../../assets/hero/hero-mountainside-dot.png";
---

<Section id="home">
  <div
    class="relative mt-[50px] flex flex-col-reverse items-center md:flex-row"
    id="hero"
  >
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
      <div class="space-y-3 text-left">
        <h1
          class="text-center text-4xl font-medium leading-none md:text-left md:text-6xl"
        >
          Harmonising data<br />for public good
        </h1>
        <p
          class="mb-8 mt-6 text-center text-lg font-normal leading-7 sm:mb-12 md:pr-12 md:text-left"
        >
          Our agency helps your organisation better understand, organise and use
          your data.<br />Because better data means better decisions and better
          decisions means a better quality of life for everyone.
        </p>
        <div
          class="inline-flex w-full items-center justify-center md:justify-start"
        >
          <a
            href="#contact"
            class="rounded-2xl border bg-zinc-900 px-8 py-5 text-center text-xl font-normal leading-7 text-white hover:bg-white hover:text-black"
            >Book a consultation
          </a>
        </div>
      </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
      <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
    </div>
  </div>
</Section>
