---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allServices: CollectionEntry<"services">[] = (
  await getCollection("services")
).sort(
  (a: CollectionEntry<"services">, b: CollectionEntry<"services">) =>
    a.data.order - b.data.order,
);

const description =
  "At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include";
---

<Section id="services">
  <div class="mb-5 mt-[140px]">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid gap-10 md:grid-cols-2 lg:grid-cols-3">
      {allServices.map((service) => <ServiceCard service={service} />)}
    </div>
  </div>
</Section>
