---
import { Image } from "astro:assets";
import ServiceQuad from "../../components/ui/ServiceQuad.astro";
import { getCollection, getEntry, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

import "../../styles/global.css";

export async function getStaticPaths() {
  const allIndustries = await getCollection("industries");
  return allIndustries.map((industry) => ({
    params: { slug: industry.id },
  }));
}

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("industries", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await render(entry);
---

<MainLayout title={entry.data.title}>
  <main class="mb-40 space-y-40 pt-24">
    <section class="bg-white">
      <div
        class="max-w-(--breakpoint-xl) mx-auto items-center gap-16 px-8 py-8 lg:grid lg:grid-cols-1 lg:px-16 lg:py-16"
      >
        <div class="font-light text-gray-500 sm:text-lg">
          <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900">
            {entry.data.title}
          </h2>
          <Image
            src={entry.data.image}
            alt="Article Image"
            class="my-6 h-auto max-h-96 w-full rounded-xl object-cover object-center"
          />
          <div
            class="content prose prose-l prose-ul:list-inside prose-ol:list-inside prose-blockquote:border-l-0 prose-img:my-5 max-w-none"
          >
            <Content />
          </div>
            <div class="inline-flex w-full items-center justify-center mt-10">
            <a href="/fjelltopp-astro/#contact" class="rounded-2xl border bg-zinc-900 px-8 py-5 text-center text-xl font-normal leading-7 text-white hover:bg-white hover:text-black">Get in touch</a>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
