---
const { isUnderline } = Astro.props;
---

{
  isUnderline ? (
    <div class="border-dark rounded-[45px] border">
      <slot />
    </div>
  ) : (
    <div class="rounded-[45px]">
      <slot />
    </div>
  )
}
