---
import { Image } from "astro:assets";
import decorForm from "../../assets/pics/contact-jb.jpg";
---

<div
  class="bg-gray relative flex items-center justify-between overflow-hidden rounded-[45px] p-[60px]"
>
  <form class="bg-gray h-full w-full sm:p-6 lg:mr-[60px]">
    <div class="mb-4">
      <label for="name" class="mb-2 block text-black">Name*</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Name"
        class="outline-hidden w-full rounded-[14px] border border-black px-[30px] py-[18px] text-black"
      />
    </div>

    <div class="mb-4">
      <label for="email" class="mb-2 block text-black">Email*</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        class="outline-hidden w-full rounded-[14px] border border-black px-[30px] py-[18px] text-black"
      />
    </div>

    <div class="mb-4">
      <label for="message" class="mb-2 block text-black">Message*</label>
      <textarea
        id="message"
        name="message"
        placeholder="Message"
        class="outline-hidden w-full rounded-[14px] border border-black px-[30px] py-[18px] text-black"
      ></textarea>
    </div>

    <button type="submit" name="submit" class="btn-primary w-full">Send</button>
  </form>
  <picture class="hidden md:w-6/12 md:pb-20 md:pt-10 lg:block">
    <Image
      src={decorForm}
      alt="A member of the Fjelltopp team looking ready to receive your query"
    />
  </picture>
</div>
